@import '~antd/dist/antd.less';

.ant-card-cover {
  position: relative;
}

.like-icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #cccccc55;
  transition: 0.5s;
  font-size: 1.4rem;
}

.like-icon:hover {
  background-color: #cccccc99;
}

.ant-card.ant-card-hoverable.ant-card-bordered {
  width: 280px;
  background-color: #cccccc55;
  border: none;
  color: #fff;
  transition: 0.3s;
}

.ant-card:hover {
  transform: scale(1.01);
}

div.ant-card-body {
  padding: 14px 24px;
}

.ant-card-meta-detail .ant-card-meta-title {
  color: #ddd;
}

.ant-card-meta-detail .ant-card-meta-description {
  color: #333;
}
